
*,
*::before,
*::after{
	box-sizing: border-box;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
	margin: 0;
	height: 95vh;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.header-container{
	display: flex;
	justify-content: center;
}
h1,
h2,
p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.{
	font-size: 2rem;
	font-weight: bold;
}
.aside-left{
	float: left;
	margin: 0 1.5%;
	width: 25%;
	height: 85vh;
	left: 0;
	right: 0;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
.section-right {
	float: right;
	margin: 0 1.5%;
	width: 68%;
	height: 85vh;
}
.small-image{
	display: flex;
	margin: 5px;
}
.photo{
	margin: 0 auto;
}
.photo-full{
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain
}
.full-photo{
	box-sizing: border-box;
	width: 67%;
	height: 60vh;
}
