
*,
*::before,
*::after{
	box-sizing: border-box;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
	margin: 0;
	height:100vh;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.aside-left{
	float: left;
	margin: 0 1.5%;
	width: 25%;
	height: 85vh;
	left: 0;
	right: 0;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
.section-right {
	float: right;
	margin: 0 1.5%;
	width: 68%;
}
.image{
	display: flex;
	margin: 5px;
}
.photo{
	margin: 0 auto;
}
